.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns:  256px 1fr;
  gap: 2rem ;
  align-items: flex-start;

}

/*Essa é a forma certa de mexer na responsividade em diplays litros*/
@media (max-width: 768px){
  html{
    /*aqui fizemos uma regra de tres*/
    font-size: 87.5%;
  }
  
  .wrapper{
    grid-template-columns: 1fr;
  }
}